<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1>Welcome</h1>
    <!-- Registration -->
    <div class="registration">
        <h1>Registration</h1>
        <form action="/registration" method="post">
            {% csrf_token %}
            {% if messages %}
                <ul class="messages">    
                    {% for message in messages %}    
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                    {% endfor %}
                </ul>
            {% endif %}
            <label for="first_name">First Name</label>
            <input type="text" name="first_name" id="">
            
            <label for="last_name">Last Name</label>
            <input type="text" name="last_name" id="">
            
            <label for="email">Email</label>
            <input type="email" name="email" id="">
            
            <label for="password">Password</label>
            <input type="password" name="password" id="">
            
            <label for="confirm_password">Confirm Password</label>
            <input type="password" name="confirm_password" id="">
            <button type="submit">Register</button>
        </form>
    </div>
    
    <!-- Login -->
    <div class="login">
        <h1>Login</h1>
        <form action="/login" method="post">
            {% csrf_token %}
            {% if messages %}
                <ul class="messages">    
                    {% for message in messages %}    
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                    {% endfor %}
                </ul>
            {% endif %}
            <label for="email">Email</label>
            <input type="email" name="email" id="">
            
            <label for="password">Password</label>
            <input type="password" name="password" id="">
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>